Source: xdgmime
Section: devel
Priority: extra
Maintainer: Jayoun Lee <airjany@samsung.com>, Seokkyu Jang <seokkyu.jang@samsung.com>, Sangil Yoon <si83.yoon@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.1.0 

Package: libxdgmime
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libxdgmime package

Package: libxdgmime-dev
Section: libs
Architecture: any
Depends: libxdgmime (= ${Source-Version})
Description: libxdgmime dev package

Package: libxdgmime-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxdgmime (= ${Source-Version})
Description: libxdgmime dbg package 
